:root {
  --text: #ffffff;
  --wall: #000000;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;
}

body {
  color: var(--text);
  background-color: var(--wall);
  text-align: center;
  font-family: monospace;
}

input[type=number]:hover::-webkit-inner-spin-button {
  width: 14px;
  height: 30px;
}

a {
  color: var(--tertiary);
}

div#content {
  display: inline-block;
}

span#heart {
  color: var(--danger);
}

.output {
  color: var(--success);
}

.input {
  border: 1px solid var(--primary);
  padding: .5em;
  display: none;
}

#button-clear {
  height: 100%;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  opacity: .8;

  font-size: x-large;
  font-weight: bold;
  font-family: monospace;
  color: var(--text);
  background-color: var(--danger);
}
#button-clear:hover {
  opacity: 1;
}
#button-clear:active {
  opacity: 1;
  color: var(--danger);
  background-color: var(--text);
}

#button-save {
  height: 100%;
  width: 100%;
  padding-top: .5em;
  padding-bottom: .5em;
  opacity: .8;

  font-size: x-large;
  font-weight: bold;
  font-family: monospace;
  color: var(--wall);
  background-color: var(--success);
}
#button-save:hover {
  opacity: 1;
}
#button-save:active {
  opacity: 1;
  color: var(--success);
  background-color: var(--wall);
}

#td-clear {
  display: block;
}

#td-fruit {
  display: block;
}

#select-fruit {
  padding: .5em;

  font-size: small;
  font-weight: bold;
  color: var(--wall);
  background-color: var(--warning);
}

#input-amount {
  padding: .5em;

  font-size: small;
  font-weight: bold;
  color: var(--wall);
  background-color: var(--success);
}
